body{
    background-color: rgb(211, 210, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
}

.title1{
    text-align: center;
    color: gray;
}

.title2{
    text-align: center;
    font-size: medium;
    color:rgb(255, 241, 225);
}

.image{
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    
}

.contenu{
    color: rgb(97, 93, 51);
    
}

.title3{
    text-align: center;
}
